// Importing core colors for reuse
@use '../../_core-colors' as core;

// Advanced PHP Control Structures Colors
$advphp-control-if-color: #c678dd;     // Soft purple for 'if' control structure
$advphp-control-else-color: #c678dd;   // Soft purple for 'else' control structure
$advphp-control-elseif-color: #c678dd; // Soft purple for 'elseif' control structure
$advphp-control-match-color: #c678dd;  // Soft purple for 'match' control structure
