// Importing core colors for reuse
@use '../..//_core-colors' as core;

// Advanced PHP Keywords Colors
$advphp-keyword-class-color: #c678dd;    // Soft purple for 'class' keyword
$advphp-keyword-function-color: #c678dd; // Soft purple for 'function' keyword
$advphp-keyword-new-color: #c678dd;      // Soft purple for 'new' keyword
