// scss/colors/interface/_button-colors.scss

@use '../_core-colors' as core;

// Button Colors
$button-bg: core.$dark-bg !default;
$button-fg: core.$primary-fg !default;
$button-border: core.$border-color !default;

$button-highlighted-bg: core.$accent-color !default;
$button-selected-bg: core.$accent-color !default;
$button-disabled-bg: core.$secondary-fg !default;
$button-disabled-fg: core.$light-bg !default;
