// scss/colors/interface/_document-colors.scss

@use '../_core-colors' as core;

// Document (Editor) Colors
$document-bg: core.$dark-bg !default;
$document-fg: core.$primary-fg !default;
$document-border: core.$border-color !default;

$document-selected-bg: core.$highlight-bg !default;
$document-selected-fg: core.$highlight-fg !default;

$cursor-color: core.$cursor-color !default;
