// scss/sections/interface/_base.scss

@use '../../colors/interface/_base-colors' as base;

// Meta selectors for theme customization
meta {
  -theme-interface-style: base.$theme-interface-style;
  -theme-vibrancy: base.$theme-vibrancy;
  -theme-accent-color: base.$theme-accent-color;
}

meta.window {
  background-color: base.$window-bg;
  border-color: base.$titlebar-border;
}

meta.titlebar {
  color: base.$titlebar-fg;
  background-color: base.$titlebar-bg;
  border-color: base.$titlebar-border;
}

meta.titlebar.inactive {
  color: base.$inactive-titlebar-fg;
  background-color: base.$titlebar-bg;
  border-color: base.$titlebar-border;
}
