// scss/sections/interface/_buttons.scss

@use '../../colors/interface/_button-colors' as button;

meta.button {
  background-color: button.$button-bg;
  color: button.$button-fg;
  border-color: button.$button-border;
}

meta.button.disabled {
  background-color: button.$button-disabled-bg;
  color: button.$button-disabled-fg;
}

meta.button.highlighted {
  background-color: button.$button-highlighted-bg;
}

meta.button.selected {
  background-color: button.$button-selected-bg;
}

meta.button.highlighted.selected {
  background-color: button.$button-highlighted-bg;
}

meta.document.button {
  // Styles specific to document buttons can be added here if needed
}
