// scss/sections/interface/_gutter.scss

@use '../../colors/interface/_gutter-colors' as gutter;

meta.gutter {
  background-color: gutter.$gutter-bg;
  color: gutter.$gutter-fg;
  border-color: gutter.$gutter-border;
}

meta.gutter.selected {
  background-color: gutter.$gutter-selected-bg;
  color: gutter.$gutter-selected-fg;
}
