// scss/colors/terminal/_terminal-colors.scss

@use '../_core-colors' as core;

// 16 Standard ANSI Colors
$terminal-black: #000000 !default;
$terminal-red: #cd3131 !default;
$terminal-green: #0dbc79 !default;
$terminal-yellow: #e5e510 !default;
$terminal-blue: #2472c8 !default;
$terminal-magenta: #bc3fbc !default;
$terminal-cyan: #11a8cd !default;
$terminal-white: #e5e5e5 !default;
$terminal-bright-black: #666666 !default;
$terminal-bright-red: #f14c4c !default;
$terminal-bright-green: #23d18b !default;
$terminal-bright-yellow: #f5f543 !default;
$terminal-bright-blue: #3b8eea !default;
$terminal-bright-magenta: #d670d6 !default;
$terminal-bright-cyan: #29b8db !default;
$terminal-bright-white: #e5e5e5 !default;
